<div class="container-fluid main-header-container">
   <div class="row">
     <div class="container custmized-contaienr">
     <div class="col-xs-12 col-md-12 top-header">
       <header>
          <div class="col-xs-2 col-md-2 log-container"><a routerLink="home">Logo</a></div>
          <div class="col-xs-10 col-md-10 main-menu-container">
              <ul class="main-menu">
                  <li routerLinkActive="active">
                    <a routerLink = "home">Home</a>
                  </li>
                  <li>
                    <a routerLink = "employeedata">Employee Data</a></li>
                  <li routerLinkActive = "active">
                    <a routerLink = "countrydata">All Country Data</a>
                  </li>
                  <li routerLinkActive = "active">
                    <a routerLink = "piclibrary">Pics Libray</a>
                  </li>
                  <li routerLinkActive = "active">
                    <a routerLink = "contact">Contact</a>
                  </li>
                
                </ul>
          </div>
       </header>
     </div>
    </div>
   </div>
</div>