.top-header{background:#03A9F4;}
.main-menu-container ul{margin:10px 0;padding:0;float:right}
.main-menu-container ul li{display: inline;}
.main-menu-container ul li a{color:#fff;padding:0 0px 0 15px;text-decoration: none}
.main-header-container{background: #03A9F4;}
.top-header{padding:10px 0}
.log-container img{width:163px;}